<h1>Register Confirmation</h1>
<p>Hey {{name}}, welcome to our community.</p>

<p>You are one step ahead to be a valuable member of our community. We are excited to start working with you!</p>

<a type="button" class="button" href="http://localhost:4200/auth/emailverification?evldr={{validationToken}}">Confirm your register</a>