<h1>No problem, we are here to help you!</h1>

<p>Here you have a link to set a new password.</p>

<a type="button" class="button" href="http://localhost:4200/identity/createpassword?pvldr={{newPasswordToken}}">Confirm your register</a>